:root {
  font-family: "Times New Roman", Times, serif;
}

a {
  font-weight: 500;
  color: #81c7ef;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #81c7ef;
  color: #333; /* dark gray color for text, change as per your design */
  line-height: 1.6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

table {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  color: white;
  background-color: #0c2fdf;
  -webkit-text-stroke: 0.5px black;
}

button:hover {
  background-color: #81c7ef;
  color: black;
}

input:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input::placeholder {
  color: black;
}

textarea:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

textarea::placeholder {
  color: black;
}

::placeholder {
  color: #999;
  font-size: 14px;
}

.fixed-div {
  position: static;
  padding: 15px;
}

.container-footer {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 5px;
}

.videobox {
  background-color: #823535;
  color: white;
  margin-left: 20px;
  width: 95vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.infobox-one {
  width: 95vw;
}

.left-picturebox {
  background-color: #333;
  color: white;
  margin-left: 20px;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.right-picturebox {
  margin-left: auto; /* Added margin-left: auto */
  margin-right: 20px;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: white;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
  background-color: white;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}